@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';

.cl-rootBox {
  width: 100%;
}

.cl-userButtonPopoverCard.cl-card {
  width: calc(100% - 2rem);
  height: auto;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.cl-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: none;
  margin: 0;
  max-width: unset;
}


@media screen and (max-width: 1024px) {
  .cl-userButtonPopoverCard.cl-card {
    width: calc(100% - 1.5rem);
  }
}


@media screen and (max-width: 767px) {
  .cl-userButtonPopoverCard.cl-card {
    width: calc(100% - 1rem);
  }
}


  

svg.star-svg {
  display: inline;
}

.cl-card>*:last-child {
  display: none;
}